@font-face {
    font-family: 'madeinfinityblack';
    src: url('./assets/MadeInfinityBlack.ttf') format('truetype');
}

body {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    margin-left: -10%;
    margin-right: -10%;
    margin-bottom: 5%;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-family: madeinfinityblack;
    font-size: 30px;
    color: black;
}

#itemsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    margin-bottom: 30px;
    border-radius: 20px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
    color: white;
    position:relative;
    transition: all 0.3s ease;
}

.item-box:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.1, 1.1);
    z-index: 100;
}

.item-image {
    height: 200px;
    max-width: 100%;
    object-fit: contain;
}

.item-desc{
    display:none;
}

.item-name {
    font-family: madeinfinityblack;
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin-bottom: 0;
}

.item-price {
    font-family: madeinfinityblack;
    font-size: 15px;
    color: gray;
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #e0e0e0;
    margin-top: 5%;
}

.about {
    width: 30%;
}

.contact {
    width: 30%;
}

.info {
    width: 30%;
}

@media screen and (max-width: 425px) {
    .item-box {
        width: 100%;
    }
}