@font-face {
    font-family: 'madeinfinityblack';
    src: url('../assets/MadeInfinityBlack.ttf') format('truetype');
}

@font-face {
    font-family: 'madeinfinityregular';
    src: url('../assets/MadeInfinityRegular.otf') format('opentype');
}

body {
    font-family: madeinfinityregular;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;

    margin-bottom: 5%;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1000;
    width:100%;
}

header h1 {
    font-family: madeinfinityblack;
    font-size: 30px;
    color: black;
}

#itemsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-image {
    height: 200px;
    max-width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.item-name {
    font-family: madeinfinityblack;
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin-bottom: 0;
}

.item-price {
    font-family: madeinfinityblack;
    font-size: 15px;
    color: gray;
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #e0e0e0;
    margin-top: 5%;
    padding-left: 5%;
}

.about {
    width: 30%;
    padding-right: 10%;
}

.contact {
    width: 30%;
}

.info {
    width: 30%;
}

.info h3, .about h3, .contact h3 {
    font-family: madeinfinityblack;
    font-size: 20px;
    color: black;
    margin-bottom: 0;
}

@media screen and (max-width: 425px) {
    .item-box {
        width: 100%;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
    .about, .contact, .info {
        width: 100%;
        padding-right: 0;
    }
}